*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --colour-light-blue: #F0F4FF;
    --colour-white: #FFFFFF;
    --color-blue: #6200EE;


}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--colour-white)

}

.navbar {
    background-color: var(--color-blue);
    color: var(--colour-white);
    width: 100vw;
    height: 129px;
    padding-left: 15px;
    padding-top: 15px;
}

img {
    width: 28px;
}

.heading {
    font-weight: 700;
    font-size: 20px;
    margin-left: 100px;
    display: inline;
}

.course-container {
    padding: 5%;
}

.course, .resources {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: var(--colour-white);
    color: var(--color-blue);
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.course-code {
    font-weight: 700;
    font-size: 18px;
}

.course-title {
    font-weight: 400;
    font-size: 16px;
    margin-top: -8px;
}

.course-nav {
    display: flex;
    justify-content: center;
}

.active {
    color: var(--color-blue);
    font-weight: 700;
    margin-right: 20px;
    font-size: 15px;
    border-bottom: 5px solid var(--color-blue);
    padding-left: 5px;
    padding-right: 5px;
}

.disabled {
    color: rgba(98, 0, 238, 0.7);
    font-weight: 400;
    margin-right: 20px;
    font-size: 16px;
}

.resources {
    margin: 5%;
    display: flex;
    padding-right: 15px;
    justify-content: space-between;
}

.resources h5 {
    font-weight: 600;
    font-size: 16px;
    width: 100%
}

.download {
    margin-left: 20%;
}